* {
    margin: 0;
    padding: 0;
}

******************************Binayak Dev Joshi - Workspace *******************************************

#test {
    width: 100%;
    height: auto;
    border: 1px solid white;
    background: aliceblue;
    color: white;
}

/* Footer Location: resources/views/front/include/footer.blade.php */
footer {
    height: 20em;
    background: aqua;
    bottom: 0;
}

*************************************************************************************************************
