* {
    margin: 0;
    padding: 0;
}

/*******************************Binayak Dev Joshi - Workspace ********************************************/
footer {
    background: #F8F8FF;
    overflow-x: hidden;
    padding: 5vmin 10vmin;
    margin-bottom: 0;
}

footer p > span {
    color: #ff512f;
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer .input-group .input-group-text {
    border: none;
}

footer .column i {
    color: #dd2476;
}

/* It is Adjacent sibling combinator */

footer .column i + i {
    padding: 0 0.5em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.815);
    z-index: 9999;
    transition: all 1.5s ease;
}

#submit-btn {
    display: block;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .75em;
    letter-spacing: 1px;
    height: 38px;
    width: 120px;
    line-height: 38px;
    overflow: hidden;
    background: rgb(221, 36, 118);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0,.1);
    border: 0;
    cursor: pointer;
    transition: all .3s ease;
    color: white;
}
#submit-btn:hover {
    opacity: .98;
    color: inherit;
}

.footer-copyright {
    padding: .5em;
    background-color: rgb(65, 65, 65);
    text-align: center;
    text-shadow: 0px 1px 1px #4d4d4d;
    color: whitesmoke;
}

#social-media i{
    padding-right: 5rem;
    text-align: center;
    border-right: 1px solid black;
}

#social-media i:last-child {
    border: none;
}

.footer-menus li {
    padding-bottom: 1rem;
}

.footer-menus a{
    color: #6C757D;
    letter-spacing: 1px;
}

.footer-menus a:hover {
    text-decoration: none;
    color: black;
}

footer ul{
    list-style: none;
}

/***************************************************************************************************************/

.bg-line{
    height: 5px;
    width: 100%;
    display: block;
    background: url(/images/border.jpg) center center repeat-x;
}

.nav-item-list a::before{
    border-left: 2px solid green;
    background-color: yellow;
}

.bg-dropdown-menu{
    /*background-image: url(/images/drop4.png);*/
    background-repeat: repeat;
    background-position: center;
}

.bg-dropdown-menu a:hover{
    background: none;
    border-left: 3px solid yellow;
}

.carousel .item {
  color: #999;
  overflow: hidden;
  min-height: 120px;
  font-size: 13px;
}
.carousel-home img {
  width: 80px;
  height: 600px !important;
  display: block;
}
.carousel .testimonial {
  padding: 0 15px 0 60px ;
  position: relative;
}
.carousel .testimonial::before {
  content: '\93';
  color: #e2e2e2;
  font-weight: bold;
  font-size: 68px;
  line-height: 54px;
  position: absolute;
  left: 15px;
  top: 0;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #1c47e3;
}
.carousel-testimonial {
  bottom: -30px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: 1px 3px;
}

.carousel-indicators li { 
  background: #e2e2e2;
  border: 4px solid #fff;
}
.carousel-indicators li.active {
  color: #fff;
  background: #1c47e3;    
  border: 5px double;    
}

.carousel-control-prev img, .carousel-control-next img{
    height: 50px;
}

.carousel-top {
  position: absolute;
  top: 15%;
  left: 20%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.services{
    background-image: url(/images/drop2.jpg);
    background-repeat: repeat;
    z-index: -999;
}

.service-heading{
  font-size: 3rem;
  /*font-weight: bold;*/
}

.premium{
  background: #52B5D5;
  text-align: center;
  padding: 30px 30px;
}

.price{
  background: #64C3DE;
  text-align: center;
  padding: 30px 30px;
  font-size: 2rem;
}

.descrip{
  font-size: 1.5rem;
  padding: 20px 0px 20px 20px;
}

.shadow{
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.19);
}


