#portfolio {
    margin-top: 2%;
    margin-bottom: 2%;
    background: whitesmoke;
    height: auto;
    width: 100%;
}

#portfolio::before {
    content: 'Our featured';
    background: rgb(62, 72, 73);
    padding: 15px;
    border: none;
    color: white;
    font-family: Verdana;
}

.portfolio-description h1 {
    font-family: Helvetica;
    font-weight: 900;
    letter-spacing: .5em;
}

.portfolio-description p {
    font-family: Arial;
    font-size: 1em;
    font-weight: bold;
}

.portfolio-description button {
    background: none;
    padding: 10px;
    border: 2px solid #060000;
    color: #060000;
    font-weight: 700;
}

.portfolio-description button:hover {
    border: 2px solid gray;
    color: gray;
}

.portfolio-img {
    background: none;
    height: 270px;
    -webkit-box-shadow: 9px 11px 48px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 48px -10px rgba(0,0,0,0.75);
    box-shadow: 9px 11px 48px -10px rgba(0,0,0,0.75);
    margin: 2rem;
    padding: 0;
}

.portfolio-img:hover a::before {
    content: 'View';
    position: absolute;
    color: white;
    padding: 5px;
    border: 2px solid white;
    z-index: 10;
    font-family: "Times New Roman";
    font-size: 25px;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

.portfolio-img:hover img{
    cursor: pointer;
    filter: brightness(50%);
}

.portfolio-description {
    text-align: end;
    padding-top: 2rem;
}

#portfolio .row div img{
    object-fit: fill;
    width: 100%;
    height: 100%;
}